* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #041e42;
}

body {
  
  background: linear-gradient(to right, #2c5fa8, #4a8bdc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* logo */
.logo{
  height: 97px;
  width: 143px;
  padding: 2px;
  
}
/* CORES BASE */


/* Fundo */
.app {
  margin-top: 80px;
  min-height: 100vh;
 background: linear-gradient(to right, #000c1e 0%, #011034 50%, #013082 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

/* Títulos */
.app h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.app h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.app h4 {
  font-weight: normal;
  margin-bottom: 20px;
}

/* Card do formulário */
.card {
  background: #f5f5f5;
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  color: #333;
}

/* Inputs */
.input-group {
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

/* Erros */
.input-group p {
  font-size: 12px;
  margin-top: 4px;
}

/* Título escolha */
.card .text-de-escolha {
  margin-top: 30px;
  margin-bottom: 15px;
  
}

/* Grupo radios */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Linha */
.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Label */
.radio-item label {
  font-size: 14px;
  cursor: pointer;
}

/* Radio */
.radio-item input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Radio */
/*.radio-item input {
  margin-left: 10px;
}
/*
/* Botão principal */
button[type="submit"] {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
 background: rgba(3, 31, 69, 0.95);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #002865;
}

/* Botão desabilitado */
button:disabled {
  background: gray;
  cursor: not-allowed;
}

/* Box de sucesso */
.list-lead {
  background: #fff;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  text-align: left;

}
.list-lead p{
  font-family: Arial, sans-serif;
  
}

.dados-do-cadastro {
  margin-bottom: 40px;
 
}

/* Botão secundário */
.list-lead button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: rgba(3, 31, 69, 0.95);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}